$blue-1-2: 14%;
$blue-3: 23%;
$orange-1: 8%;
$subtle-1-2: 50%;
$subtle-3-4: 36%;
$yellow-1-2: 22%;
$white-1: 8%;
$white-2: 11%;

$mobile-multiplier: 1.5;
$tablet-multiplier: 1.25;

$animate: true;

.blobs-container {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  overflow: hidden;
  z-index: 0;

  .blobs {
    filter: url('#goo'); 
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
  
    .blob{
      position: absolute;
      border-radius: 50%;
      fill: white;
      opacity: 1;
      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }
    
    &.blobs-blue  {
      mix-blend-mode: multiply;
      
      .blob {
        background-color: #004861;
        
        &:nth-child(1) {
          right: 4%;
          bottom: 12%;
          width: $blue-1-2 * $mobile-multiplier;
          animation: blue-1 75s ease-in-out infinite alternate;
        }
        &:nth-child(2) {
          right: -3%;
          bottom: -10%;
          width: $blue-1-2 * $mobile-multiplier;
          animation: blue-2 60s 5s ease-in-out infinite alternate;
        }
        &:nth-child(3) {
          left: 110%;
          top: 10%;
          width: $blue-3 * $mobile-multiplier;
          animation: blue-3 90s ease-in-out infinite alternate;
        }
      }
    }
    
    &.blobs-orange  {
      filter: none; 
      mix-blend-mode: multiply;
      
      .blob {
        background: #D46336;
        width: $orange-1 * $mobile-multiplier;
        right: 3%;
        bottom: 33%;
        animation: orange-1 63s ease-in-out infinite alternate;
      }
    }
    
    &.blobs-subtle  {
      filter: url('#goo-lg'); 
      mix-blend-mode: multiply;
      
      .blob {
        background-color: #EBF0F1;
        
        &:nth-child(1) {
          top: 20%;
          left: 90%;
          width: $subtle-1-2 * $mobile-multiplier;
          animation: subtle-1 90s ease-in-out infinite alternate;
        }
        &:nth-child(2) {
          top: 90%;
          left: 40%;
          width: $subtle-1-2 * $mobile-multiplier;
          animation: subtle-2 90s ease-in-out infinite alternate;
        }
        &:nth-child(3) {
          right: 45%;
          bottom: 60%;
          width: $subtle-3-4 * $mobile-multiplier;
          animation: subtle-3 120s ease-in-out infinite alternate;
        }
        &:nth-child(4) {
          right: 100%;
          bottom: 100%;
          width: $subtle-3-4 * $mobile-multiplier;
          animation: subtle-4 120s ease-in-out infinite alternate;
        }
      }
    }
    
    &.blobs-yellow  {
      mix-blend-mode: multiply;
      filter: url('#goo-md'); 
      
      .blob {
        background-color: #FBCB65;
        
        &:nth-child(1) {
          right: 85%;
          bottom: 18%;
          width: $yellow-1-2 * $mobile-multiplier;
          animation: yellow-1 60s ease-in-out infinite alternate;
        }
        &:nth-child(2) {
          left: -1%;
          bottom: -15%;
          width: $yellow-1-2 * $mobile-multiplier;
          animation: yellow-2 90s 3s ease-in-out infinite alternate;
        }
      }
    }
    
    &.blobs-white  {
      filter: none; 
      opacity: .4;
      
      .blob {
        background: #fff;

        &:nth-child(1) {
          width: $white-1 * $mobile-multiplier;
          left: 14%;
          bottom: 15%;
          animation: white-1 30s ease-in-out infinite alternate;
        }
        &:nth-child(2) {
          width: $white-2 * $mobile-multiplier;
          right: 16%;
          top: 15%;
          animation: white-2 60s ease-in-out infinite alternate;
        }
      }
    }

    @include media-breakpoint-up(sm) {

      &.blobs-blue  {
        .blob {
          &:nth-child(1) {
            width: $blue-1-2 * $tablet-multiplier;
          }
          &:nth-child(2) {
            width: $blue-1-2 * $tablet-multiplier;
          }
          &:nth-child(3) {
            width: $blue-3 * $tablet-multiplier;
          }
        }
      }
      
      &.blobs-orange  {
        .blob {
          width: $orange-1 * $tablet-multiplier;
        }
      }
      
      &.blobs-subtle  {
        .blob {        
          &:nth-child(1) {
            width: $subtle-1-2 * $tablet-multiplier;
          }
          &:nth-child(2) {
            width: $subtle-1-2 * $tablet-multiplier;
          }
          &:nth-child(3) {
            width: $subtle-3-4 * $tablet-multiplier;
          }
          &:nth-child(4) {
            width: $subtle-3-4 * $tablet-multiplier;
          }
        }
      }
      
      &.blobs-yellow  {
        .blob {
          &:nth-child(1) {
            width: $yellow-1-2 * $tablet-multiplier;
          }
          &:nth-child(2) {
            width: $yellow-1-2 * $tablet-multiplier;
          }
        }
      }
      
      &.blobs-white  {
        .blob {
          width: $white-1;
        }
      }
      
    }

    @include media-breakpoint-up(lg) {

      &.blobs-blue  {
        .blob {
          &:nth-child(1) {
            width: $blue-1-2;
          }
          &:nth-child(2) {
            width: $blue-1-2;
          }
          &:nth-child(3) {
            width: $blue-3;
          }
        }
      }
      
      &.blobs-orange  {
        .blob {
          width: $orange-1;
        }
      }
      
      &.blobs-subtle  {
        .blob {        
          &:nth-child(1) {
            top: 10%;
            left: 90%;
            width: $subtle-1-2;
          }
          &:nth-child(2) {
            top: 80%;
            left: 70%;
            width: $subtle-1-2;
          }
          &:nth-child(3) {
            width: $subtle-3-4;
          }
          &:nth-child(4) {
            width: $subtle-3-4;
          }
        }
      }
      
      &.blobs-yellow  {
        .blob {
          &:nth-child(1) {
            right: 90%;
            bottom: 30%;
            width: $yellow-1-2;
          }
          &:nth-child(2) {
            width: $yellow-1-2;
          }
        }
      }
      
      &.blobs-white  {
        .blob {
          width: $white-1;
        }
      }

    }
    
  }
}

if($animate) {
  @keyframes blue-1 {
    0% {
      transform: translate(0, 0);
      border-radius: 50%; 
    }
    25% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    } 
    50% { 
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
    } 
    25% { 
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; 
    } 
    50% { 
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    } 
    75% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    }
    100% {
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
      transform: translate(-26%, -265%);
    }
  }
  @keyframes blue-2 {
    0% {
      transform: translate(0, 0);
      border-radius: 50%; 
    }
    25% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    } 
    50% { 
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
    } 
    25% { 
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; 
    } 
    50% { 
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    } 
    75% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    }
    100% {
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
      transform: translate(33%, -198%);
    }
  }
  @keyframes blue-3 {
    0% {
      transform: translate(0, 0);
      border-radius: 50%; 
    }
    25% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    } 
    50% { 
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
    } 
    25% { 
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; 
    } 
    50% { 
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    } 
    75% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    }
    100% {
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
      transform: translate(-165%, 92%);
    }
  }

  @keyframes orange-1 {
    0% {
      transform: translate(0, 0);
      border-radius: 50%; 
    }
    25% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    } 
    50% { 
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
    } 
    25% { 
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; 
    } 
    50% { 
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    } 
    75% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    }
    100% {
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
      transform: translate(-265%, -132%);
    }
  }

  @keyframes white-1 {
    0% {
      transform: translate(0, 0);
      border-radius: 50%; 
    }
    25% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    } 
    50% { 
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
    } 
    25% { 
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; 
    } 
    50% { 
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    } 
    75% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    }
    100% {
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
      transform: translate(-26%, -347%);
    }
  }

  @keyframes white-2 {
    0% {
      transform: translate(0, 0);
      border-radius: 50%; 
    }
    25% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    } 
    50% { 
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
    } 
    25% { 
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; 
    } 
    50% { 
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    } 
    75% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    }
    100% {
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
      transform: translate(-100%, -80%);
    }
  }

  @keyframes yellow-1 {
    0% {
      transform: translate(0, 0);
      border-radius: 50%; 
    }
    25% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    } 
    50% { 
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
    } 
    25% { 
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; 
    } 
    50% { 
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    } 
    75% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    }
    100% {
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
      transform: translate(331%, 66%);
    }
  }
  @keyframes yellow-2 {
    0% {
      transform: translate(0, 0);
      border-radius: 50%; 
    }
    25% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    } 
    50% { 
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
    } 
    25% { 
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; 
    } 
    50% { 
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    } 
    75% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    }
    100% {
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
      transform: translate(66%, -198%);
    }
  }

  @keyframes subtle-1 {
    0% {
      transform: translate(0, 0);
      border-radius: 50%; 
    }
    25% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    } 
    50% { 
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
    } 
    25% { 
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; 
    } 
    50% { 
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    } 
    75% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    }
    100% {
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
      transform: translate(-131%, -50%);
    }
  }
  @keyframes subtle-2 {
    0% {
      transform: translate(0, 0);
      border-radius: 50%; 
    }
    25% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    } 
    50% { 
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
    } 
    25% { 
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; 
    } 
    50% { 
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    } 
    75% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    }
    100% {
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
      transform: translate(-131%, -40%);
    }
  }
  @keyframes subtle-3 {
    0% {
      transform: translate(0, 0);
      border-radius: 50%; 
    }
    25% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    } 
    50% { 
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
    } 
    25% { 
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; 
    } 
    50% { 
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    } 
    75% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    }
    100% {
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
      transform: translate(331%, 265%);
    }
  }
  @keyframes subtle-4 {
    0% {
      transform: translate(0, 0);
      border-radius: 50%; 
    }
    25% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    } 
    50% { 
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
    } 
    25% { 
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; 
    } 
    50% { 
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    } 
    75% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    }
    100% {
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
      transform: translate(198%, 132%);
    }
  }

  @keyframes blob { 
    0% { 
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%; 
    } 
    25% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    } 
    50% { 
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
    } 
    25% { 
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; 
    } 
    50% { 
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    } 
    75% { 
      border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%; 
    } 
    100% { 
      border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
    } 
  }
}
