// user-variables.scss
// Use this to overwrite Bootstrap variables
//

$container-max-widths: (
  xl: 1110px
);

$primary: #004157;
$light-bg-color: #F4F7F8;
$light-green-text: #669898;

$font-family-sans-serif: "Poppins", Helvetica, Arial, sans-serif !default;

$border-radius: 16px;

$card-border-width:                 0;
$card-bg:                           $light-bg-color;
