// Bootstrap setup
@import "bootstrap/scss/functions";

// Custom setup
@import 'user-variables';

@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/print";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group";
// @import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/utilities";

.hero {
  text-align: center;
  padding: 211px 30%;

  > h2 {
    color: $light-green-text;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.1em;
  }
  > h1 {
    font-size: 28px;
    font-weight: 500;
    color: $primary;
    line-height: 46px;
  }
}

.companies {
  list-style: none;
  padding: 0;
  margin-top: 24px;

  .company {
    padding: 0 48px 48px;
    img {
      max-width: 408px;
      margin: 0 auto 48px;
    }
    h3 {
      font-size: 18px;
      color: $primary;
      font-weight: 500;
    }
    p {
      font-size: 14px;
      line-height: 23px;
      color: #8B9193;
    }
  }
}
