// Bootstrap setup
@import "bootstrap/scss/functions";

// Custom setup
@import 'user-variables';

@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/print";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms"; 
@import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/input-group";
// @import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/utilities";

// @import "front/forms/form";

@import "functions";

@import "blobs";

body, html {
  font-size: 12px;
  @include media-breakpoint-up(md) {
    font-size: 15px;
  }
}

h1, h2, h3, h4, h5, h6 {
  &:last-child {
    margin-bottom: 0;
  }
}

h4 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2em;
  color: #767676;
  margin-bottom: rem-calc(9px);
}
h2 {

}

.navbar-nav {
  .nav-item:last-child {
    margin: 0 0 0 1.6rem;
  }
  .nav-item .btn {
    font-size: .875rem;
    line-height: 1.8rem;
    color: $secondary;
  }
  .nav-item-company {
    display: none;
    @include media-breakpoint-up(md) { display: block; }
  }
}

.hero {
  text-align: center;
  padding: 25vh 24px;
  background-color: $light-bg-color;
  // background-image: url("../../images/hero/shapes 1.svg"), url("../../images/hero/shapes 2.svg"), url("../../images/hero/shapes 3.svg");
  background-position: right bottom, left bottom, left top;
  background-repeat: no-repeat;
  background-size: 45%, 30%, 90%;

  > h4 {
    color: $light-green-text;
    position: relative;
    z-index: 1;
    mix-blend-mode: multiply;
  }
  > h1 {
    font-size: rem-calc(26px);
    font-weight: 500;
    color: $primary;
    line-height: 1.8em;
    position: relative;
    z-index: 1;
    mix-blend-mode: multiply;
  }
  @include media-breakpoint-up(sm) {
    padding-left: 30%;
    padding-right: 30%;
    background-size: 30%, 21%, 40%;
  }
}

.companies {
  list-style: none;
  padding: 0;
  margin-top: 24px;

  $company-transition-time: 1s;

  .company {
    display: block;
    text-decoration: none;

    .card {
      padding: 0 48px 48px;
      margin-bottom: 24px;
      transform-style: preserve-3d;
      position: relative;
      transition-property: all;
      cursor: pointer;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: inset rgba($primary, 0) 0 0 0 1px;
        transition: 1s linear all;
        border-radius: $border-radius;
        z-index: 2;
        transform: translateZ(1px);
      }
      h3, p {
        transition: $company-transition-time cubic-bezier(0.165, 0.840, 0.440, 1.000) all;
      }
      h3 {
        font-size: 17px;
        color: $primary;
        font-weight: 500;
      }
      p {
        font-size: 13px;
        line-height: 23px;
        color: #8B9193;
        margin-bottom: 0;
      }
      .illustration {
        margin: 0 auto 48px;
        position: relative;

        .illustration-piece   {
          width: 100%;
          max-width: 408px;
          transition: $company-transition-time cubic-bezier(0.165, 0.840, 0.440, 1.000) all;
          position: absolute;
          top: 0;
          left: 0;
          &.bg {
            position: relative;
          }
        }
      }
    }
    &:hover {
      .card {
        box-shadow: rgba($light-bg-color, 1) 0 30px 60px;
        &:after {
          box-shadow: inset rgba($primary, .3) 0 0 0 1px;
        }
        h3, p {
          transform: translateZ(40px);
        }
        .illustration {
          .fg { transform: translateZ(40px); }       
          .mg { transform: translateZ(20px); }       
          .bg { transform: translateZ(0); }       
        }
      }
    }
  }
}

.building {
  background-color: rgba(#000, .3);
  text-align: center;
  padding: 20% 24px;
  border-radius: $border-radius;
  position: relative;
  overflow: hidden;
  background: #000;

  h2 {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    position: relative;
  }

  h4 {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    opacity: .8;
    text-transform: none;
    letter-spacing: 0;
  }

  .bg-photo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.our-story {
  margin-top: 160px;
  text-align: center;

  h1 {
    margin-bottom: 48px;
  }

  p {
    font-size: 17px;
    line-height: 2em;
    margin-bottom: 2em;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 10vw);
  grid-gap: 8px;
  margin: 48px 0 0;

  .gallery__item {
    margin: 0;
    border-radius: $border-radius / 2;
    overflow: hidden;

      &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 6;
      }
      &:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
      }
      &:nth-child(3) {
        display: none;
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 4;
      }
      &:nth-child(4) {
        display: none;
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 3;
      }
      &:nth-child(5) {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 6;
      }
      &:nth-child(6) {
        display: none;
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 6;
      }
      &:nth-child(7) {
        display: none;
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 6;
      }
  }

  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 5vw);
    grid-gap: 16px;

    .gallery__item {
      border-radius: $border-radius;

      &:nth-child(3) {
        display: block;
      }
      &:nth-child(4) {
        display: block;
      }
      &:nth-child(6) {
        display: block;
      }
      &:nth-child(7) {
        display: block;
      }
    }
      
  }
}

.bottom-logo {
  display: block;
  margin: rem-calc(92px) auto;
}

footer {
  background: $primary url(../../images/footer-shapes.svg) center / cover;
  padding: rem-calc(140px) 0;
  color: rgba(#fff, .6);
  text-align: center;
  position: relative;

  h4 {
    color: $secondary;
  }
  h3 {
    color: #fff;
    font-size: rem-calc(25px);
    margin-bottom: rem-calc(13px);
  }

  .form-container {
    margin: rem-calc(48px) 0;
    perspective: 1000px;

    .message {
      margin-bottom: 1rem;
    }

    .form-container-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    .input-group-lg > .form-control,
    .input-group-lg > .custom-select,
    .input-group-lg > .input-group-prepend > .input-group-text,
    .input-group-lg > .input-group-append > .input-group-text,
    .input-group-lg > .input-group-prepend > .btn,
    .input-group-lg > .input-group-append > .btn {
      padding: $input-padding-y-lg $input-padding-x-lg;
      @include font-size($input-font-size-lg);
      line-height: $input-line-height-lg;
      height: auto;
    }

    .form-success, .input-group {
      backface-visibility: hidden;

      .btn, .form-control {
        z-index: 0;
        box-shadow: none;
      }
    }

    .form-success {
      position: absolute;
      z-index: 3;
      background: #053C4E;
      border-radius: 4px;
      top: -1px; right: -1px; bottom: -1px; left: -1px;
      transform: rotateX(180deg);
      border: 1px solid rgba(#fff, .1);

      span {
        color: #fff;
        font-size: rem-calc(21px);
        line-height: rem-calc(48px);
      }
    }

    &.form-container-success {
      .form-container-inner {
        transform: rotateX(180deg);
      }
    }
  }

  .contact {
    text-align: center;

    .icon-links {
      display: inline-block;
      margin-right: 32px;

      .icon {
        height: 24px;
        fill: #E3F8FF;
        opacity: 0.6;
        transition: .2s linear all;
      }
      &:hover .icon {
        opacity: 1;
      }
    }

    .pill-link {
      color: rgba(#E3F8FF, .6);
      transition: .2s linear all;
      display: inline-block;
      border-radius: 6px;
      background: rgba(#fff, .05);
      line-height: 18px;
      padding: 3px 18px;
      font-size: 14px;

      &:hover {
        background: rgba(#fff, .1);
        color: rgba(#E3F8FF, 1);
        text-decoration: none;
      }
    }
  }
}
